@import "tailwindcss";
@import "./assets/fonts/metropolis.css";

@theme {
  --color-primary-purple: #4618ac;
  --color-dark-purple: #1f0a4d;
  --color-accent-green: #00ff9d;
}

body {
  background: var(--color-primary-purple);
  color: white;
  min-height: 100vh;
  font-family: 'Metropolis', Arial, Helvetica, sans-serif;
}
