@font-face {
  font-family: 'Metropolis';
  src: url('https://davidas.pro/assets/assets/fonts/Metropolis-Regular.woff2?display=swap') format('woff2'),
       url('https://davidas.pro/assets/assets/fonts/Metropolis-Regular.woff?display=swap') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://davidas.pro/assets/assets/fonts/Metropolis-Bold.woff2?display=swap') format('woff2'),
       url('https://davidas.pro/assets/assets/fonts/Metropolis-Bold.woff?display=swap') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://davidas.pro/assets/assets/fonts/Metropolis-ExtraBold.woff2?display=swap') format('woff2'),
       url('https://davidas.pro/assets/assets/fonts/Metropolis-ExtraBold.woff?display=swap') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
