@font-face {
  font-family: 'Metropolis';
  src: url('./Metropolis-Regular.woff2') format('woff2'),
       url('./Metropolis-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./Metropolis-Bold.woff2') format('woff2'),
       url('./Metropolis-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./Metropolis-ExtraBold.woff2') format('woff2'),
       url('./Metropolis-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
